* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    
}

.header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    color: rgb(185, 181, 181);
    text-decoration: none;
    font-weight: bold;
}


.contact-section {
    padding: 30px;
    background-color: rgb(176, 125, 176);
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section h1 {
    text-align: center;
    color: rgb(231, 219, 219);
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info p {
    font-size: 1.1em;
    margin: 10px 0;
}

.form-container {
    background-color: rgb(127, 18, 127);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: white;
    margin: 15px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-size: 1em;
    color: white;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #d1cece;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 11px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(178, 85, 178);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
}
.find-us-section {
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.find-us-section h2 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
}

.find-us-content {
    max-width: 900px;
    margin: 0 auto;
}

.find-us-text {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 40px;
}

.find-us-text p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.find-us-map iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
span {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}


