
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #a39f9f;
    color: #333;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #848280;
}

.LOGO img{
    border-radius: 50%;
}

.body {
    max-width: 1000px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.body h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
    font-size: 36px;
}

.content p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}


.footer {
    margin-top: 40px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 6px;
}

.footer span {
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}
.footer p {
    text-align: center;
    font-size: 16px;
    color: #666;
}

footer {
    background-color: #333;
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 18px;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 30px;
    padding: 10px;
}

footer a:hover {
    color: #848280;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Section principale prend toute la place disponible */
.body {
    flex: 1;
    padding: 20px;
}

/* Style général du footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Boutons sociaux  */
.rounded-social-buttons a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
